body {
  display: grid;
  grid-template-columns: 15% repeat(5, 1fr) 15%;
  grid-template-rows: 15% repeat(6, 1fr) 15%;
  background: linear-gradient(#367CD6, #183968);
  min-height: 100vh;
}

body * {
  font-family: 'Open Sans', sans-serif;
}

#root {
  grid-column: 3 / span 3;
  grid-row: 3 / span 4;
}

#cloud1 {
  grid-column: 2;
  grid-row: 4;
  position: relative;
  top: -3em;
  left: 8em;
}

#cloud2 {
  grid-column: 6;
  grid-row: 3;
  position: relative;
  top: 2em;
  left: -5em;
}
